			<article>
				<a href="index.html ">
					<header class="articleHeader one"><img src="<%= user.matchIcon %>" alt="Zodiac from this person"></header>
					<img src="/images/proefAfbeelding.svg" alt="Foto van gebruiker">
					<footer>
						<p class="invis"><%= user.name %></p>
						<p class="invis"><%= user.age %></p>
						<p class="invis"><%= user.matchAmount %></p>
					</footer>
				</a>
			</article>