			<article>
				<a href="">
					<header class="articleHeader one"><button><img src="<%= user.matchIcon %>" alt="matching percentage with this person"></button></header>
					<img src="/images/proefAfbeelding.svg" alt="Foto van gebruiker">
					<footer>
						<p class="invis"><%= user.name %></p>
						<p class="invis"><%= user.age %></p>
						<p class="invis"><%= user.matchAmount %></p>
					</footer>
				</a>
			</article>