<article>
	<a href="index.html ">
		<img src="/images/proefAfbeelding.svg" alt="Foto van gebruiker">
		<footer>
<!--
			<p>name</p>
			<p>leeftijd</p>

-->
<!--						<p><%# match %>%</p>-->
			
			<ul> 
			<% userId.forEach(function(Users){%>
				<%# userData.forEach(function(Entry){%>
				
				<%# }); %>
				<%- userId[Users].Name %>
				
				<%= match %>
				
			<% }); %>
			
			</ul>
		</footer>
	</a>
</article>