<!DOCTYPE html>
<html>

	<head>
		<% include partials/head %>
		<link rel="stylesheet" href="../static/styles/index.css">
		<link rel="stylesheet" href="../static/styles/main.css">
	</head>

	<body>
		<% include partials/header %>
		<main>
			<% include partials/card %>
		</main>
	</body>

</html>
