<!DOCTYPE html>
<html>

	<head>
		<% include partials/head %>
		<link rel="stylesheet" href="/styles/index.css">
	</head>

	<body>
		<% include partials/header %>
		<main>
			<% users.forEach(function(user){%>
			<article>
				<a href="index.html ">
					<img src="/images/proefAfbeelding.svg" alt="Foto van gebruiker">
					<footer>

						<ul> 
							<li><%= user.name %>
							<%= user.age %>
							<%= user.match %></li>

						</ul>
					</footer>
				</a>
			</article>	
			<% }); %>
		</main>
	</body>

</html>
