<!DOCTYPE html>
<html>

	<head>
		<% include partials/head %>
		<link rel="stylesheet" href="/styles/index.css">
	</head>

	<body>
		<header>
			<% include partials/header %>
		</header>
		<main>
			<% users.forEach(function(user){ %>
				<% include partials/card %>
			<% }); %>
		</main>
		<script src="../scripts/cardScript.js"></script>
	</body>

</html>
