<article>
	<a href="index.html ">
		<img src="<%data.picture%>" alt="Foto van <%data.name %>">
		<footer>
			<p><% data.name %></p>
			<p><% data.age %></p>
			<p><% data.matchpercentage %></p>
		</footer>
	</a>
</article>