<article>
	<a href="index.html ">
		<img src="../../static/images/proefAfbeelding.svg" alt="Foto van gebruiker">
		<footer>
			<p>name</p>
			<p>leeftijd</p>
			<p>match%</p>
		</footer>
	</a>
</article>