<a href=""><img src="../static/images/chats.svg" alt="Chats"></a>
<a href="index.html"><img src="../static/images/logo.svg" alt="OKBier"></a>
<a href=""><img src="../static/images/profielicon.svg" alt="Profiel"></a>